<p id="notice"><%= notice %></p>

<p>
  <span>الاسم:</span>
  <%= @product.name %>
</p>

<p>
  <span>الاسم بالعربي:</span>
  <%= @product.name_ar %>
</p>

<p>
  <span>Price:</span>
  <%= @product.price %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
