<p id="notice"><%= notice %></p>

<p>
  <span>Name of product:</span>
  <span dir="rtl"><%= @product.name %></span>
</p>

<p>
  <span>الاسم بالعربي:</span>
  <bdi><%= @product.name_ar %></bdi>
</p>

<p>
  <span>Price:</span>
  <bdi><%= @product.price %></bdi>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
